<%= simple_form_for [ @restaurant ] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Submit restaurant", class: "btn btn-primary" %>
<% end %>

<p class="btn btn-light"><%= link_to 'Back to restaurants', restaurants_path%></p>